In [30]:
from xml.etree.ElementTree import tostring

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from soupsieve import closest
import yfinance as yf

In [37]:
df=pd.read_csv('cac40_data.csv')

In [41]:
df

,Datetime,AI.PA,AIR.PA,ALO.PA,ATO.PA,BN.PA,BNP.PA,CA.PA,CAP.PA,CS.PA,...,SAN.PA,SGO.PA,STMPA.PA,SU.PA,TEP.PA,TTE.PA,URW.PA,VIE.PA,VIV.PA,WLN.PA
0,2023-11-21 08:00:00+00:00,155.472733,133.320007,12.735000,69900.000000,57.630001,56.580002,16.910,178.800003,28.100000,...,85.440002,58.240002,42.310001,163.740005,133.899994,63.119999,55.759998,28.000000,8.806,13.7100
1,2023-11-21 09:00:00+00:00,155.199997,133.139999,12.635000,68980.000000,57.790001,56.459999,16.865,178.100006,28.084999,...,85.180000,57.849998,42.150002,163.759995,134.399994,62.889999,55.500000,27.940001,8.772,13.6950
2,2023-11-21 10:00:00+00:00,155.545456,133.500000,12.705000,70160.000000,57.779999,56.419998,16.855,178.850006,28.105000,...,85.199997,58.029999,42.285000,163.979996,133.850006,62.889999,55.459999,28.000000,8.734,13.6350
3,2023-11-21 11:00:00+00:00,155.345459,133.539993,12.730000,69880.000000,57.759998,56.369999,16.830,179.050003,28.090000,...,85.190002,58.029999,42.235001,164.059998,134.250000,62.980000,55.279999,27.969999,8.732,13.6250
4,2023-11-21 12:00:00+00:00,155.090912,133.339996,12.700000,70380.000000,57.709999,56.240002,16.795,179.100006,28.090000,...,85.019997,57.959999,42.000000,164.199997,133.899994,62.720001,55.180000,27.950001,8.712,13.6500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4588,2025-11-20 12:00:00+00:00,165.880005,206.600006,22.830000,43.285000,77.580002,70.599998,12.785,128.100006,37.880001,...,86.290001,80.779999,19.021999,230.899994,57.939999,55.799999,90.019997,28.610001,2.471,1.6400
4589,2025-11-20 13:00:00+00:00,166.240005,207.300003,22.860001,43.560001,77.580002,70.440002,12.840,128.949997,37.910000,...,86.650002,81.080002,19.177999,231.550003,57.919998,55.810001,90.019997,28.629999,2.488,1.6325
4590,2025-11-20 14:00:00+00:00,166.339996,206.800003,22.930000,42.950001,77.339996,70.629997,12.870,128.250000,37.889999,...,86.519997,80.860001,19.216000,231.550003,58.040001,56.070000,90.339996,28.580000,2.507,1.6415
4591,2025-11-20 15:00:00+00:00,166.020004,206.550003,22.840000,42.580002,77.459999,70.330002,12.865,127.900002,37.910000,...,85.769997,80.480003,19.164000,230.300003,58.040001,56.029999,90.139999,28.549999,2.531,1.6155
4592,2025-11-20 16:00:00+00:00,165.720001,204.850006,22.820000,42.494999,77.320000,70.300003,12.830,127.550003,37.779999,...,85.430000,80.480003,18.944000,228.649994,58.220001,55.799999,90.160004,28.469999,2.515,1.6015

In [42]:
def getInfoperTicker(df,ticker):
    longtimedata=df[["Datetime",ticker]]
    latestdate=df['Datetime'].dt.date.iloc[df.index[-1]]

    #request on yfinance to get the 5min data for today
    ticker_yf=yf.Ticker(ticker)


    intraday_data=ticker_yf.history(period="1d",interval="5m")
    intraday_data=intraday_data.reset_index()
    print(intraday_data)









    return longtimedata


my_df=getInfoperTicker(df,'AI.PA')

AttributeError: Can only use .dt accessor with datetimelike values

In [17]:
my_df

                      Datetime       AI.PA
0    2023-11-21 08:00:00+00:00  155.472733
1    2023-11-21 09:00:00+00:00  155.199997
2    2023-11-21 10:00:00+00:00  155.545456
3    2023-11-21 11:00:00+00:00  155.345459
4    2023-11-21 12:00:00+00:00  155.090912
...                        ...         ...
4588 2025-11-20 12:00:00+00:00  165.880005
4589 2025-11-20 13:00:00+00:00  166.240005
4590 2025-11-20 14:00:00+00:00  166.339996
4591 2025-11-20 15:00:00+00:00  166.020004
4592 2025-11-20 16:00:00+00:00  165.720001

[4593 rows x 2 columns]