In [14]:
from xml.etree.ElementTree import tostring

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plt.express as px
from soupsieve import closest

ModuleNotFoundError: No module named 'plt'

In [8]:
import yfinance as yf

#tickers cac40
cac40 = [
    'AI.PA', 'AIR.PA', 'ALO.PA', 'ATO.PA', 'BN.PA', 'BNP.PA', 'CA.PA',
    'CAP.PA', 'CS.PA', 'DG.PA', 'DSY.PA', 'EL.PA', 'EN.PA', 'ENGI.PA',
    'ERF.PA', 'GLE.PA', 'HO.PA', 'KER.PA', 'LR.PA', 'MC.PA', 'ML.PA',
    'OR.PA', 'ORA.PA', 'PUB.PA', 'RCO.PA', 'RI.PA', 'RMS.PA', 'SAF.PA',
    'SAN.PA', 'SGO.PA', 'STMPA.PA', 'SU.PA', 'TEP.PA',
    'TTE.PA', 'URW.PA', 'VIE.PA', 'VIV.PA', 'WLN.PA'
]

df = yf.download(cac40, period='2y', interval='1h')['Close']

C:\Users\Malob\AppData\Local\Temp\ipykernel_30684\2671191174.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(cac40, period='2y', interval='1h')['Close']
[*********************100%***********************]  38 of 38 completed

In [9]:
df.to_csv('cac40_data.csv')

In [26]:
df=pd.read_csv('cac40_data.csv')

In [27]:
def Dfcleaning(df):
    df=df.fillna(method='ffill')
    df["Datetime"]=pd.to_datetime(df['Datetime'])
    return df

df=Dfcleaning(df)

C:\Users\Malob\AppData\Local\Temp\ipykernel_30684\2239339441.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df=df.fillna(method='ffill')

In [28]:
df

,Datetime,AI.PA,AIR.PA,ALO.PA,ATO.PA,BN.PA,BNP.PA,CA.PA,CAP.PA,CS.PA,...,SAN.PA,SGO.PA,STMPA.PA,SU.PA,TEP.PA,TTE.PA,URW.PA,VIE.PA,VIV.PA,WLN.PA
0,2023-11-21 08:00:00+00:00,155.472733,133.320007,12.735000,69900.000000,57.630001,56.580002,16.910,178.800003,28.100000,...,85.440002,58.240002,42.310001,163.740005,133.899994,63.119999,55.759998,28.000000,8.806,13.7100
1,2023-11-21 09:00:00+00:00,155.199997,133.139999,12.635000,68980.000000,57.790001,56.459999,16.865,178.100006,28.084999,...,85.180000,57.849998,42.150002,163.759995,134.399994,62.889999,55.500000,27.940001,8.772,13.6950
2,2023-11-21 10:00:00+00:00,155.545456,133.500000,12.705000,70160.000000,57.779999,56.419998,16.855,178.850006,28.105000,...,85.199997,58.029999,42.285000,163.979996,133.850006,62.889999,55.459999,28.000000,8.734,13.6350
3,2023-11-21 11:00:00+00:00,155.345459,133.539993,12.730000,69880.000000,57.759998,56.369999,16.830,179.050003,28.090000,...,85.190002,58.029999,42.235001,164.059998,134.250000,62.980000,55.279999,27.969999,8.732,13.6250
4,2023-11-21 12:00:00+00:00,155.090912,133.339996,12.700000,70380.000000,57.709999,56.240002,16.795,179.100006,28.090000,...,85.019997,57.959999,42.000000,164.199997,133.899994,62.720001,55.180000,27.950001,8.712,13.6500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4588,2025-11-20 12:00:00+00:00,165.880005,206.600006,22.830000,43.285000,77.580002,70.599998,12.785,128.100006,37.880001,...,86.290001,80.779999,19.021999,230.899994,57.939999,55.799999,90.019997,28.610001,2.471,1.6400
4589,2025-11-20 13:00:00+00:00,166.240005,207.300003,22.860001,43.560001,77.580002,70.440002,12.840,128.949997,37.910000,...,86.650002,81.080002,19.177999,231.550003,57.919998,55.810001,90.019997,28.629999,2.488,1.6325
4590,2025-11-20 14:00:00+00:00,166.339996,206.800003,22.930000,42.950001,77.339996,70.629997,12.870,128.250000,37.889999,...,86.519997,80.860001,19.216000,231.550003,58.040001,56.070000,90.339996,28.580000,2.507,1.6415
4591,2025-11-20 15:00:00+00:00,166.020004,206.550003,22.840000,42.580002,77.459999,70.330002,12.865,127.900002,37.910000,...,85.769997,80.480003,19.164000,230.300003,58.040001,56.029999,90.139999,28.549999,2.531,1.6155
4592,2025-11-20 16:00:00+00:00,165.720001,204.850006,22.820000,42.494999,77.320000,70.300003,12.830,127.550003,37.779999,...,85.430000,80.480003,18.944000,228.649994,58.220001,55.799999,90.160004,28.469999,2.515,1.6015

In [69]:

def GetReturnSinceLookBack(df,lookback_days):
    latest_index=df.index[-1]
    todaysdate=df['Datetime'].dt.date.iloc[latest_index]
    print(todaysdate)
    lookback_date=todaysdate-pd.Timedelta(days=lookback_days)
    print(lookback_date)
    morningtime=pd.Timestamp(f"{lookback_date} 08:00:00+00:00")
    morning_index=df.index[df['Datetime']==morningtime][0]

    return (df.iloc[latest_index,1:]-df.iloc[morning_index,1:])/df.iloc[morning_index,1:]*100

GetReturnSinceLookBack(df,0)

2025-11-20
2025-11-20

AI.PA      -0.312803
AIR.PA     -0.534106
ALO.PA     -0.392842
ATO.PA     -5.577163
BN.PA      -0.412158
BNP.PA      -0.90217
CA.PA      -0.542633
CAP.PA     -0.117458
CS.PA      -0.787823
DG.PA       0.560098
DSY.PA     -0.852147
EL.PA      -0.192618
EN.PA       0.289923
ENGI.PA     0.045999
ERF.PA     -0.450454
GLE.PA     -0.346382
HO.PA      -0.464327
KER.PA     -1.852157
LR.PA      -1.960789
MC.PA       0.389352
ML.PA      -1.417156
OR.PA      -0.042551
ORA.PA     -0.726747
PUB.PA     -3.102232
RCO.PA     -0.997501
RI.PA      -0.152394
RMS.PA     -1.404494
SAF.PA     -0.627268
SAN.PA     -0.870272
SGO.PA     -1.299972
STMPA.PA   -2.380706
SU.PA        -1.6982
TEP.PA      0.831312
TTE.PA     -0.161031
URW.PA     -0.221333
VIE.PA     -0.732221
VIV.PA       1.00402
WLN.PA     -6.070382
dtype: object

In [ ]:
def GetReturnsSinceMorning(df):
    latest_index=df.index[-1]
    todaysdate=df['Datetime'].dt.date.iloc[latest_index]
    lookbackdate
    morningtime=pd.Timestamp(f"{todaysdate} 08:00:00+00:00")
    morning_index=df.index[df['Datetime']==morningtime][0]

    return (df.iloc[latest_index,1:]-df.iloc[morning_index,1:])/df.iloc[morning_index,1:]*100

GetReturnsSinceMorning(df)

In [ ]:
def GetReturnsSinceMorning(df):
    latest_index=df.index[-1]
    todaysdate=df['Datetime'].dt.date.iloc[latest_index]
    morningtime=pd.Timestamp(f"{todaysdate} 08:00:00+00:00")
    morning_index=df.index[df['Datetime']==morningtime][0]

    return (df.iloc[latest_index,1:]-df.iloc[morning_index,1:])/df.iloc[morning_index,1:]*100

GetReturnsSinceMorning(df)